<!DOCTYPE html>
    <html>
        <head>
            <title>PLPMS - Signup</title>
        </head>
        <body>
            <h1>PLPMS - Signup</h1>
            <form method="POST">
                <input type="text" placeholder="Full Name" required>
                <br><br>
                <input type="email" placeholder="Email" required>
                <br><br>
                <input type="password" placeholder="Password" required>
                <br><br>
                <button type="submit">Signup</button>
            </form>
        </body>
    </html>